@font-face {
    font-family: "mont";
    font-weight: 400;
    src: url("./resources/fonts/Mont-Regular.woff2");
}

@font-face {
    font-family: "mont";
    font-weight: 600;
    src: url("./resources/fonts/Mont-SemiBold.woff2");
}

@font-face {
    font-family: "mont";
    font-weight: 700;
    src: url("./resources/fonts/Mont-Bold.woff2");
}

@font-face {
    font-family: "mont";
    font-weight: 800;
    src: url("./resources/fonts/Mont-Heavy.woff2");
}

@font-face {
    font-family: "mont";
    font-weight: 900;
    src: url("./resources/fonts/Mont-Black.woff2");
}

