@import url('./reset.css');
@import url('./fonts.css');

:root {
    font-size: 14px;
}

body {
    font-family: 'mont';
    font-weight: 600;
}

.nav-container {
    font-family: 'mont';
    font-weight: 400;
}

.test {
    font-family: 'mont';
}

.container {
    margin: 0 100px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-gap-40 {
    display: flex;
    gap: 58px;
    align-items: center;
}

header .container {
    padding: 0.8rem 0;
}

.header-logo {
    width: 75px;
}

img {
    width: 100%;
}

.header-navigation ul {
    font-size: 1.1rem;
}

.btn {
    font-size: 1.2rem;
    display: inline-block;
    background-color: #fff;
    width: 150px;
    text-align: center;
    padding: 1rem 0 0.6rem 0;
    border-radius: 7px;
}

.btn-dangerous {
    border: none;
    color: #fff;
    background-color: #c02827;
}

.btn-border {
    color: #132463;
    border: 2px solid #c02827;
    box-shadow: 1px 5px 6px -6px #000;
}

.btn-secondary {
    width: 14rem;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 5px 23px -8px #000;
}

.red-text {
    color: #c02827;
}

.blue-text {
    color: #132463;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.header-navigation span {
    display: inline-block;
    padding: 3px;
    width: 15px;
}

.background-red {
    position: relative;
    background: linear-gradient(803.06deg,#c02827 466.07%,#a73030 98.54%);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
    padding: 10rem 0 12rem 0;
    color: #fff;
}

.banner h1 {
    font-size: 3.5rem;
    line-height: 1.7;
    font-weight: 900;
}

.banner h1 span {
    padding: 1rem;
    background-color: #fff;
}

.banner a {
    margin-top: 2.7rem;
}

.banner p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 1.1rem;
}

.banner-content {
    position: relative;
    z-index: 1;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0550/6678/7899/files/Group_3758_3.svg?v=1635925739');
    background-repeat: no-repeat;
    background-position: bottom;
}

.services-title {
    padding-top: 7rem;
    text-align: center;
}

.services-title h2 {
    font-size: 3rem;
    font-weight: 900;
}

.services-title p {
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 800;
    margin-top: 2rem;
}

.services-list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.services-list ul {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: #fcf5f4;
    border-radius: 5rem;
}

.services-list ul li {
    padding: 1.3rem 2rem;
    font-weight: 600;
}

.services-list ul li:hover {
    background-color: #fff;
    color: #a73030;
    border-radius: 3rem;
}

.chosen-service {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
}

.chosen-service div {
    width: 50%;
}

.chosen-service div:first-child {
    text-align: center;
}

.chosen-service div h3 {
    font-size: 2rem;
    font-weight: 800;
}

.chosen-service div img {
    width: 80%;
}

.chosen-service div p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 35rem;
    margin-top: 1rem;
}

.btn-blue {
    color: #fff;
    background-color: #132463;
    margin-top: 3rem;
    padding: 1.2rem 0;
}

