@import url('./reset.css');
@import url('./fonts.css');

:root {
    font-size: 14px;
}

body {
    font-family: 'mont';
    font-weight: 600;
}

.nav-container {
    font-family: 'mont';
    font-weight: 400;
}

.test {
    font-family: 'mont';
}

.container {
    margin: 0 100px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-gap-40 {
    display: flex;
    gap: 58px;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

header .container {
    padding: 0.8rem 0;
}

.header-logo {
    width: 75px;
}

img {
    width: 100%;
}

.header-navigation ul {
    font-size: 1.1rem;
}

.btn {
    font-size: 1.2rem;
    display: inline-block;
    background-color: #fff;
    width: 150px;
    text-align: center;
    padding: 1rem 0 0.6rem 0;
    border-radius: 7px;
    cursor: pointer;
}

.btn-dangerous {
    border: none;
    color: #fff;
    background-color: #c02827;
}

.btn-border {
    color: #132463;
    border: 2px solid #c02827;
    box-shadow: 1px 5px 6px -6px #000;
}

.btn-secondary {
    width: 14rem;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 5px 23px -8px #000;
}

.red-text {
    color: #c02827;
}

.blue-text {
    color: #132463;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.header-navigation span {
    display: inline-block;
    padding: 3px;
    width: 15px;
}

.background-red {
    position: relative;
    background: linear-gradient(803.06deg,#c02827 466.07%,#a73030 98.54%);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
    padding: 15rem 0 12rem 0;
    color: #fff;
}

.banner h1 {
    font-size: 3.5rem;
    line-height: 1.7;
    font-weight: 900;
}

.banner h1 span {
    padding: 1rem;
    background-color: #fff;
}

.banner a {
    margin-top: 2.7rem;
}

.banner p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 1.1rem;
}

.banner-content {
    position: relative;
    z-index: 1;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0550/6678/7899/files/Group_3758_3.svg?v=1635925739');
    background-repeat: no-repeat;
    background-position: bottom;
}

.services-title {
    padding-top: 7rem;
    text-align: center;
}

.services-title h2 {
    font-size: 3rem;
    font-weight: 900;
}

.services-title p {
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 800;
    margin-top: 2rem;
}

.services-list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.services-list ul {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: #fcf5f4;
    border-radius: 5rem;
}

.services-list ul li {
    padding: 1.3rem 2rem;
    font-weight: 600;
}

.services-list ul li:hover {
    background-color: #fff;
    color: #a73030;
    border-radius: 3rem;
}

.chosen-service {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
}

.chosen-service div {
    width: 50%;
}

.chosen-service div:first-child {
    text-align: center;
}

.chosen-service div h3 {
    font-size: 2rem;
    font-weight: 800;
}

.chosen-service div img {
    width: 80%;
}

.chosen-service div p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 35rem;
    margin-top: 1rem;
}

.btn-blue {
    color: #fff;
    background-color: #132463;
    margin-top: 3rem;
    padding: 1.2rem 0;
}

.marketing {
    padding: 1.1rem 0 1rem 0;
    background: linear-gradient(803.06deg,#c02827 466.07%,#a73030 98.54%);

}

.marketing .container div span {
    display: block;
}

.marketing .container div span:first-child {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
}

.marketing .container div span:last-child {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.4rem;
    color: #f2f2f2;
    opacity: 0.5;
}

.marketing .container div {
    text-align: center;
}

.brand .container {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
}

.brand .container div:first-child {
    display: flex;
    align-items: center;
    width: 40%;
}
.brand .container div:last-child {
     width: 57%;
}

.describe h2 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 800;
}

.describe p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-top: 1.6rem;
    font-weight: 400;
}

.describe p span {
    font-weight: 600;
}

.gradient {
    background: linear-gradient(110.51deg,rgba(181,205,247,.7) -3.25%,rgba(255,201,201,.7) 98.3%);
    box-shadow: 0 14px 24px rgb(0 0 0 / 2%);
}

.gradient .container {
    padding: 2rem 0;
    text-align: center;
}

.gradient .container p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
}

.gradient .container p span {
    font-weight: 600;
}

.team {
    padding-top: 3rem;
    background-color: #fffafa;
}

.team .container {
    display: flex;
    gap: 2.5rem;
}

.team .container div:first-child {
    width: 60%;
}

.team .container .team-image {
    width: 40%;
}

.business {
    margin-top: 9rem;
    text-align: center;
}

.business h1 {
    font-size: 3rem;
    font-weight: 900;
}

.business h3 {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 600;
    max-width: 58rem;
    margin: 1.5rem auto;
}

.business-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    padding-bottom: 5rem;
}

.business-level div {
    text-align: center;
}

.start img, .scale img, .expend img {
    width: 7rem;
}

.start h2, .scale h2, .expend h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2rem;
}

.start p, .scale p, .expend p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
    padding: 0 4rem;
}

.arrow {
    width: 10rem;
}

.niche {
    text-align: center;
}

.niche h1 {
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 900;
}

.niche h3 {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 600;
    max-width: 45rem;
    margin: 1.5rem auto;
}

.services-secondary ul {
    background-color: #fff;
    box-shadow: 1px 6px 18px -15px #000;
}

.services-secondary ul li {
    font-weight: 600;
}

.services-secondary ul li:hover {
    background-color: #fffafa;
    cursor: pointer;
}





